<!DOCTYPE html>
<html>
<head>
    <title>0/1 Knapsack Problem</title>
</head>
<body>
    <h1>0/1 Knapsack Problem</h1>
    <form action="/item" method="POST">
        <label for="weight">Masukkan Weight dari item:</label>
        <input type="text" id="weight" name="weight" required><br>
        <label for="profit">Masukkan Profit dari item:</label>
        <input type="text" id="profit" name="profit" required><br>
        <button type="submit">Masukkan ke list</button><br><br>
    </form>
    <table>
        <thead>
            <tr>
                <th>Weights</th>
                <th>profits</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(x + 1) %}
            <tr>
                {% if i < x %}
                    <td>{{ weights[i] }}</td>
                    <td>{{ profits[i] }}</td>
                {% else %}
                    <td>-</td>
                    <td>-</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form action="/knapsack" method="POST">
        <label for="capacity">Masukkan Kapasitas Maksimum dari tas:</label>
        <input type="text" id="capacity" name="capacity" required><br>
        <button type="submit">Hitung pakai Dynamic Programming</button>
        <button type="submit">Hitung pakai Brute Force</button>
        <button type="submit">Hitung pakai Keduanya</button>
    </form>
</body>
</html>
